.navbar{
    background-color: aquamarine;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 800;
    margin-right: 20px;
    
}
.form-container{
    display: flex;
    justify-content: center;
}

.login-form{
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

.login-form input{
    margin-bottom: 5px;
    border: 1px solid gray;
}

.login-form button{
    padding: 5px;
    background-color: goldenrod;
    border-radius: 5px;
    font-weight: 700;
    color: aliceblue;
}